/*  Add Vehicle Form Styling  */
h2
{
	text-align: center;
	margin-top: 10px;
}


#add_new_client
{
	display: inline-block;
	width: 800px;
	height: auto;
	background-color: #CFFFDC;
}


#add_new_client p
{
	font-size: 8pt;
	font-weight: bold;
	float: left;
	display: inline-block;
}


#add_new_client input, select
{
	width: 80%;
	font-size: 8pt;
	display: block;
	float: right;
}


#table_container
{
	width: 760px;
	display: block;
	margin: 0 auto;

}


#form_input_left 
{
	display: inline-block;
	width: 45%;
}


#form_input_right
{
	float: right;
	width: 50%;
}


#form_input_right:after
{
	clear: both;
	content: "";
}


#add_new_client .client_add_sub
{
	float: none;
	display: block;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	width: 150px;
	cursor: pointer;
	
}


#add_new_client p.add_client_error
{
	color: red;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
}