vti_encoding:SR|utf8-nl
vti_author:SR|CX_NOTEBOOK\\Jax
vti_modifiedby:SR|CX_NOTEBOOK\\Jax
vti_timelastmodified:TR|25 Jun 2015 03:09:52 -0000
vti_timecreated:TR|25 Jun 2015 03:05:56 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|client_info.php
vti_nexttolasttimemodified:TW|25 Jun 2015 03:05:56 -0000
vti_cacheddtm:TX|25 Jun 2015 03:09:52 -0000
vti_filesize:IR|971
